<section class="footer-banner d-flex flex-wrap">
    <a
        href="###"
        class="position-relative text-white"
        style="background-image: url('./frontEndPackage/images/footer-banner-1.png')"
    >
        <div class="content text-center">
            <h3>房屋代管</h3>
            <p class="fs-20 mb-0">包租.媒合.修繕.代收租金</p>
        </div>
    </a>
    <a
        href="###"
        class="position-relative text-white"
        style="background-image: url('./frontEndPackage/images/footer-banner-2.png')"
    >
        <div class="content text-center">
            <h3>聯絡我們</h3>
            <p class="fs-20 mb-0">歡迎洽詢，我們將竭誠為您服務!</p>
        </div>
    </a>
</section>

<footer class="bg-main text-white">
    <a href="/" class="footer-logo position-relative d-flex justify-content-center mb-4">
        <img src="./frontEndPackage/images/logo-white.png" alt="jule logo" class="px-4 bg-main" />
    </a>
    <div class="container detail d-flex justify-content-center flex-wrap justify-content-lg-between mb-4">
        <div class="branch mb-3 mr-sm-2 text-sm-center mr-lg-0 text-lg-left">
            <h4 class="fs-16">中和左岸店</h4>
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a href="tel:+886-2-22288822"><i class="bi bi-telephone-fill mr-2"></i>02 2228 8822</a>
                </li>
                <li><i class="bi bi-geo-alt mr-2"></i>23556新北市中和區中原街26號一樓</li>
            </ul>
        </div>
        <div class="branch mb-4 text-sm-center text-lg-left">
            <h4 class="fs-16">三重三和店</h4>
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <a href="tel:+886-2-22809090"><i class="bi bi-telephone-fill mr-2"></i> 02 2280 9090</a>
                </li>
                <li><i class="bi bi-geo-alt mr-2"></i>241新北市三重區三和路四段152號</li>
            </ul>
        </div>
        <div class="text-sm-center text-lg-left">
            <ul class="list-unstyled mb-0 d-sm-flex justify-content-sm-center d-lg-block">
                <li class="mb-2 mr-sm-2 mr-lg-0">
                    <a href="mailto:jule22288822@gmail.com"
                        ><i class="bi bi-envelope mr-2"></i>jule22288822@gmail.com</a
                    >
                </li>
                <li class="mb-1">
                    <a href="###"><i class="bi bi-facebook mr-2"></i>居樂管理顧問社</a>
                </li>
            </ul>
            <span>Copyright © 居樂租屋. All rights reserved.</span>
        </div>
    </div>
    <ul class="photonic d-flex list-unstyled justify-content-center align-items-center mb-0">
        <span>傳訊光科技:&nbsp</span>
        <li><a target="_blank" href="https://shop.photonic.com.tw/" target="_blank">購物車&nbsp</a>/&nbsp</li>
        <li><a target="_blank" href="https://www.photonic.com.tw/" target="_blank">網頁設計&nbsp</a>/&nbsp</li>
        <li>
            <a target="_blank" href="http://erp2000.com/" target="_blank">CRM</a>
        </li>
    </ul>
</footer>