<nav class="container-lg navbar p-0 navbar-expand-lg">
    <h1 class="mb-0 ml-4 ml-lg-0">
        <a class="logo" href="/" style="background-image: url('./frontEndPackage/images/logo-dark.png')">居樂租屋</a>
    </h1>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#mobile-menu"
        aria-controls="mobile-menu"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <i class="bi bi-list menu-icon text-main"></i>
        <i class="bi bi-x text-main close-icon d-none"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end mobile-menu" id="mobile-menu">
        <ul class="navbar-nav text-center">
            <li class="nav-item mr-lg-2 position-relative">
                <a class="nav-link text-main" id="nav-about" href="###">關於我們</a>
            </li>
            <li class="nav-item mr-lg-2 position-relative">
                <a class="nav-link text-main" id="nav-news" href="###">最新消息</a>
            </li>
            <li class="nav-item mr-lg-2 position-relative">
                <a class="nav-link text-main" id="nav-service" href="###">服務項目</a>
            </li>
            <li class="nav-item mr-lg-2 position-relative">
                <a class="nav-link text-main" id="nav-procedure" href="###">服務流程</a>
            </li>
            <li class="nav-item mr-lg-2 position-relative">
                <a class="nav-link text-main" id="nav-stories" href="###">感動服務</a>
            </li>
            <li class="nav-item mr-lg-2 position-relative">
                <a class="nav-link text-main" id="nav-faq" href="###">房東想問</a>
            </li>
            <li class="nav-item mr-lg-2 position-relative">
                <a class="nav-link text-main" id="nav-wiki" href="###">房市百科</a>
            </li>
            <li class="nav-item position-relative">
                <a class="nav-link text-main" id="nav-contact" href="###">聯絡我們</a>
            </li>
        </ul>
    </div>
</nav>
