body{
    font-family: 'Noto Sans TC', sans-serif;
    color: $dark-text;
    @include screen; 
    
}


img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

a,
span, i{
    display: inline-block;
}

a,
a:hover {
    text-decoration: none;
}

.title {
    margin-top: -32px;
}