//字體

.barlow{
    font-family: 'Barlow', sans-serif;
    font-size: 56px;
    color:#D7DAE0;
}

.bg-main{
    background-color: $main;
}

.text-sub{
    color: $sub;
}

.text-main{
    color: $main;
}

.text-dark{
    color: $dark-text;
}

.text-white{
    color: $white;
}
// 文字大小
.fs-14{
    font-size: 14px;
}

.fs-16{
    font-size: 16px;
}

.fs-20{
    font-size: 20px;
}

.fs-24{
    font-size: 24px;
}

.fs-32{
    font-size: 32px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-32{
    margin-bottom: 32px;
}

.py-60{
    padding: 60px 0;
}