//字體

.barlow{
    font-family: 'Barlow', sans-serif;
    font-size: 56px;
    color:#D7DAE0;
}

// 文字大小
.fs-14{
    font-size: 14px;
}

.fs-20{
    font-size: 20px;
}

.fs-24{
    font-size: 24px;
}

.fs-32{
    font-size: 32px;
}

