@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Noto+Sans+TC:wght@400;500;700&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #2A2A2A;
}
@media (min-width: 1920px) {
  body {
    max-width: 1920px;
    margin: 0 auto;
  }
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

a,
span, i {
  display: inline-block;
}

a,
a:hover {
  text-decoration: none;
}

.title {
  margin-top: -32px;
}

.barlow {
  font-family: "Barlow", sans-serif;
  font-size: 56px;
  color: #D7DAE0;
}

.bg-main {
  background-color: #364664;
}

.text-sub {
  color: #AC9138;
}

.text-main {
  color: #364664;
}

.text-dark {
  color: #2A2A2A;
}

.text-white {
  color: #ffffff;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-32 {
  margin-bottom: 32px;
}

.py-60 {
  padding: 60px 0;
}

#home-nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
#home-nav-container.bg-white {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}
#home-nav-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #364664;
}

.nav-container {
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.nav-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #364664;
}
.nav-container .active {
  color: #AC9138;
}

.menu-icon,
.close-icon {
  font-size: 20px;
}
@media (min-width: 375px) {
  .menu-icon,
  .close-icon {
    font-size: 25px;
  }
}
@media (min-width: 576px) {
  .menu-icon,
  .close-icon {
    font-size: 30px;
  }
}
@media (min-width: 768px) {
  .menu-icon,
  .close-icon {
    font-size: 35px;
  }
}

.navbar-nav a:hover {
  color: #364664;
}

.nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  background-color: #364664;
  height: 2px;
  transition: width 0.4s;
}
.nav-item:hover::after {
  width: 100%;
}

.mobile-menu.show,
.mobile-menu.collapsing {
  width: initial;
  max-width: initial;
  height: 100vh;
  background: #364664;
}
.mobile-menu.show .navbar-nav a,
.mobile-menu.collapsing .navbar-nav a {
  color: #ffffff;
}
.mobile-menu.show .nav-item::after,
.mobile-menu.collapsing .nav-item::after {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  height: 2px;
  transition: width 0.4s;
}
.mobile-menu.show .nav-item:hover::after,
.mobile-menu.collapsing .nav-item:hover::after {
  width: 70px;
}

.footer-banner a {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 45%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.footer-banner a:hover {
  opacity: 0.7;
}
@media (min-width: 576px) {
  .footer-banner a {
    padding-bottom: 35%;
  }
}
@media (min-width: 768px) {
  .footer-banner a {
    width: 50%;
    padding-bottom: 20%;
  }
}
.footer-banner a .content {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1200px) {
  .footer-banner a .content {
    width: 50%;
    left: 70%;
  }
}
@media (min-width: 576px) {
  .footer-banner a h3 {
    font-size: 32px;
  }
}
@media (min-width: 992px) {
  .footer-banner a h3,
  .footer-banner a p {
    letter-spacing: 2px;
  }
}

footer {
  padding-top: 55px;
  padding-bottom: 16px;
}
footer .footer-logo {
  z-index: 1;
}
footer .footer-logo img {
  width: 200px;
}
@media (min-width: 992px) {
  footer .footer-logo img {
    width: initial;
  }
}
footer .footer-logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #aeaeae;
  top: 26px;
  z-index: -1;
}
footer .detail > div {
  width: 85%;
}
@media (min-width: 576px) {
  footer .detail > div {
    width: 48%;
  }
}
@media (min-width: 992px) {
  footer .detail > div {
    width: auto;
  }
}
@media (min-width: 576px) {
  footer .detail div:last-child {
    width: 100%;
  }
}
@media (min-width: 992px) {
  footer .detail div:last-child {
    width: auto;
  }
}
footer li {
  line-height: 1.2;
}
footer a,
footer a:hover {
  color: white;
}
footer .photonic,
footer .photonic span,
footer .photonic a {
  color: #000000;
  opacity: 0.6;
}

.dot-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 20%;
}

.breadcrumb {
  background-color: transparent;
}
.breadcrumb a {
  color: #5A5A5A;
}
.breadcrumb a:hover {
  color: #AC9138;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.triangle-sm {
  position: absolute;
  left: 0;
  top: 25%;
  border: 1px solid #e6e1dd;
  border-color: transparent transparent transparent #e6e1dd;
  border-width: 50px;
}

.triangle-lg {
  position: absolute;
  right: 0;
  top: 20%;
  border: 1px solid #d7dae0;
  border-color: transparent #d7dae0 transparent transparent;
  border-width: 100px;
}

.side-icons {
  position: fixed;
  z-index: 2;
  right: 15px;
  bottom: 12%;
}
.side-icons a,
.side-icons a:hover {
  color: #ffffff;
}
.side-icons .up-icon {
  background-color: #AC9138;
  font-size: 20px;
  padding: 16px 22px;
  border-radius: 50%;
  animation: 2s arrowTop ease-out infinite;
}
.side-icons .line-icon {
  background-color: #17dc13;
  font-size: 24px;
  padding: 12px 18px;
  border-radius: 50%;
}

@keyframes arrowTop {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20%);
  }
  60% {
    transform: translateY(-10%);
  }
}
.banner-carousel .owl-dots {
  position: absolute;
  transform: rotate(90deg);
  bottom: 5%;
  right: 0;
}
.banner-carousel .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 3px;
  background: #d7dae0;
}
.banner-carousel .owl-dots .owl-dot.active span {
  background: #364664;
}

.logo {
  max-width: 70px;
  max-height: 19px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  margin-top: 15px;
  margin-bottom: 5px;
}
@media (min-width: 375px) {
  .logo {
    max-width: 90px;
    max-height: 24px;
  }
}
@media (min-width: 576px) {
  .logo {
    max-width: 110px;
    max-height: 30px;
  }
}
@media (min-width: 768px) {
  .logo {
    max-width: 130px;
    max-height: 35px;
  }
}
@media (min-width: 992px) {
  .logo {
    max-width: 150px;
    max-height: 41px;
  }
}

.news-container {
  margin-top: -4px;
}
.news-container .triangle-left {
  left: 0;
  top: 5%;
  border: 1px solid #364664;
  border-color: transparent transparent transparent #364664;
}
.news-container .triangle-top {
  top: -2px;
  right: 10%;
  border: 1px solid #d7dae0;
  border-color: transparent #d7dae0 transparent transparent;
  transform: rotate(-90deg);
  z-index: -1;
}
@media (min-width: 992px) {
  .news-container .triangle-top {
    top: -10%;
  }
}
.news-container .triangle-left,
.news-container .triangle-top {
  position: absolute;
  z-index: -1;
  border-width: 40px;
}
@media (min-width: 375px) {
  .news-container .triangle-left,
  .news-container .triangle-top {
    border-width: 50px;
  }
}
@media (min-width: 576px) {
  .news-container .triangle-left,
  .news-container .triangle-top {
    border-width: 80px;
  }
}
@media (min-width: 768px) {
  .news-container .triangle-left,
  .news-container .triangle-top {
    border-width: 100px;
  }
}
@media (min-width: 992px) {
  .news-container .triangle-left,
  .news-container .triangle-top {
    border-width: 140px;
  }
}
@media (min-width: 1200px) {
  .news-container .triangle-left,
  .news-container .triangle-top {
    border-width: 180px;
  }
}

.news-content {
  width: 50%;
  margin: 0 auto;
  padding-top: 80px;
}
.news-content li {
  border-bottom: 1px solid #cccccc;
}
.news-content .news-more-btn {
  padding: 4px 6px;
  padding-bottom: 8px;
  line-height: 16px;
  color: #ffffff;
  background-color: #364664;
}
.news-content .news-more-btn:hover {
  color: #364664;
  background-color: #ffffff;
  outline: 1px solid #364664;
}
.news-content .more-btn {
  color: #364664;
  border: 1px solid #364664;
  overflow: hidden;
  padding: 10px 20px;
}
.news-content .more-btn:hover {
  color: #ffffff;
}
.news-content .more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #364664;
  z-index: -1;
}
.news-content .more-btn:hover::before {
  width: 100%;
  transition: width 0.5s;
}

.about-container {
  padding-bottom: 180%;
  background-size: cover;
  background-position: 20% center;
  background-repeat: no-repeat;
}
@media (min-width: 375px) {
  .about-container {
    padding-bottom: 130%;
  }
}
@media (min-width: 576px) {
  .about-container {
    padding-bottom: 90%;
  }
}
@media (min-width: 768px) {
  .about-container {
    padding-bottom: 80%;
  }
}
@media (min-width: 992px) {
  .about-container {
    padding-bottom: 50%;
  }
}

.about-content {
  width: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
  .about-content {
    width: 50%;
    left: 20%;
    transform: translate(0%, -50%);
  }
}
@media (min-width: 1200px) {
  .about-content {
    width: 40%;
  }
}

.about-content .title-eng {
  font-size: 50px;
}
@media (min-width: 992px) {
  .about-content .title {
    margin-left: 60px;
  }
}
.about-content .icons li {
  width: 50%;
}
@media (min-width: 375px) {
  .about-content .icons li {
    width: 25%;
  }
}
.about-content .icons h4 {
  color: #364664;
  margin-top: 6px;
}
.about-content .know-more-btn {
  z-index: 1;
  color: #364664;
  background-color: #ffffff;
  border: 1px solid #364664;
  overflow: hidden;
  padding: 10px 20px;
}
.about-content .know-more-btn:hover {
  color: #ffffff;
}
.about-content .know-more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #364664;
  z-index: -1;
}
.about-content .know-more-btn:hover::before {
  width: 100%;
  transition: width 0.5s;
}
.about-content .video-btn {
  z-index: 1;
  color: #ffffff;
  background-color: #364664;
  border: 1px solid #364664;
  overflow: hidden;
  padding: 10px 20px;
}
.about-content .video-btn:hover {
  color: #364664;
}
.about-content .video-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
}
.about-content .video-btn:hover::before {
  width: 100%;
  transition: width 0.5s;
}

.home-video-modal .modal-content {
  background-color: transparent;
  border: none;
}
.home-video-modal .modal-header {
  border-bottom: none;
}
.home-video-modal .modal-header .close {
  color: #ffffff;
}
.home-video-modal .modal-header .close:focus {
  outline: none;
}
.home-video-modal .modal-body {
  position: relative;
  padding-bottom: 54%;
}
.home-video-modal .modal-body iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.service-container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
@media (min-width: 992px) {
  .service-container::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    top: 375px;
    left: 0;
    background-color: #cccccc;
    z-index: -1;
  }
}
.service-container .service-list {
  position: relative;
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 375px) {
  .service-container .service-list::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 85%;
    top: 40px;
    left: 90px;
    background-color: #cccccc;
    z-index: -1;
  }
}
@media (min-width: 375px) and (min-width: 992px) {
  .service-container .service-list::before {
    display: none;
  }
}
@media (min-width: 576px) {
  .service-container .service-list {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .service-container .service-list {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .service-container .service-list {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .service-container .service-list li {
    width: 20%;
  }
}
.service-container .service-list li div:first-child {
  margin-right: 16px;
}
@media (min-width: 375px) {
  .service-container .service-list li div:first-child {
    margin-right: 0;
  }
}
.service-container .service-list li div:nth-child(2) {
  display: none;
}
@media (min-width: 375px) {
  .service-container .service-list li div:nth-child(2) {
    display: block;
    margin: 0 24px;
  }
}
@media (min-width: 992px) {
  .service-container .service-list li div:nth-child(2) {
    margin: 0;
  }
}
.service-container .service-list li div:first-child img {
  width: 55px;
}
@media (min-width: 992px) {
  .service-container .service-list li div:first-child img {
    width: auto;
    height: 55px;
  }
}
.service-container .know-more-btn {
  z-index: 1;
  color: #364664;
  background-color: #ffffff;
  border: 1px solid #364664;
  overflow: hidden;
  padding: 10px 20px;
}
.service-container .know-more-btn:hover {
  color: #ffffff;
}
.service-container .know-more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #364664;
  z-index: -1;
}
.service-container .know-more-btn:hover::before {
  width: 100%;
  transition: width 0.5s;
}
@media (min-width: 992px) {
  .service-container .point-content {
    letter-spacing: 5px;
    writing-mode: vertical-rl;
    max-height: 250px;
  }
}
.service-container .house-img {
  position: absolute;
  bottom: 0;
  width: 150px;
  right: 20px;
}
@media (min-width: 768px) {
  .service-container .house-img {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .service-container .house-img {
    right: 5%;
  }
}
@media (min-width: 1400px) {
  .service-container .house-img {
    width: 250px;
  }
}

.qa-container {
  z-index: 1;
  padding: 65px 0;
  background-color: #F3F4F6;
  margin-top: 48px;
}
@media (min-width: 768px) {
  .qa-container {
    margin-top: 60px;
  }
}
.qa-container::before {
  position: absolute;
  content: "";
  background-image: url("/frontEndPackage/images/center-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

.qa-accordion a {
  color: #2A2A2A;
}
.qa-accordion .card {
  background-color: transparent;
  border: 0;
}
.qa-accordion .card-header {
  background-color: transparent;
}
.qa-accordion .card-body {
  line-height: 2;
}
.qa-accordion .question-number {
  padding: 12px 8px;
  background-color: #AC9138;
  border-radius: 50%;
}
.qa-accordion .control-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s;
}

.question-btn:not(.collapsed) .control-icon {
  transform: translateY(-50%) rotate(-90deg);
}

.qa-form select {
  padding: 0;
}
.qa-form .cerify-code-panel {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.qa-form .cerify-code-panel .verify-code {
  margin-bottom: 0;
  border: 0;
  width: 35% !important;
}
.qa-form .cerify-code-panel .verify-code-area {
  width: 60% !important;
  display: flex;
  align-items: center;
}
.qa-form .cerify-code-panel .verify-code-area .verify-input-area {
  flex-grow: 1;
  height: 100%;
}
.qa-form .varify-input-code {
  height: auto;
}
.qa-form .verify-change-code {
  color: red;
}
.qa-form .submit-btn {
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  color: #ffffff;
  background-color: #364664;
  border: none;
  outline: none;
  transition: all 0.4s ease-in-out;
}
.qa-form .submit-btn:hover {
  background-color: #ffffff;
  border: 1px solid #364664;
  color: #364664;
}

.contact-container {
  z-index: 1;
  padding: 65px 0;
  background-color: #F3F4F6;
  margin-top: 48px;
}
@media (min-width: 768px) {
  .contact-container {
    margin-top: 60px;
  }
}
.contact-container .zhonghe, .contact-container .sanchong {
  padding: 12px 24px;
  border: 1px solid #364664;
}

.branch-box {
  width: 70%;
  gap: 2%;
}
.branch-box ul {
  width: 100%;
}
@media (min-width: 768px) {
  .branch-box ul {
    width: 48%;
  }
}/*# sourceMappingURL=all.css.map */