.banner-carousel {
    .owl-dots {
        position: absolute;
        transform: rotate(90deg);
        bottom: 5%;
        right: 0;
        .owl-dot {
            span {
                width: 8px;
                height: 8px;
                margin: 5px 3px;
                background: #d7dae0;
            }
            &.active {
                span {
                    background: $main;
                }
            }
        }
    }
}

.logo {
    max-width: 70px;
    max-height: 19px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 5px;
    @include xsmall {
        max-width: 90px;
        max-height: 24px;
    }
    @include small {
        max-width: 110px;
        max-height: 30px;
    }
    @include medium {
        max-width: 130px;
        max-height: 35px;
    }
    @include large {
        max-width: 150px;
        max-height: 41px;
    }
}

.news-container {
    margin-top: -4px;
    .triangle-left {
        left: 0;
        top: 5%;
        border: 1px solid $main;
        border-color: transparent transparent transparent $main;
    }
    .triangle-top {
        top: -2px;
        right: 10%;
        border: 1px solid #d7dae0;
        border-color: transparent #d7dae0 transparent transparent;
        transform: rotate(-90deg);
        z-index: -1;
        @include large {
            top: -10%;
        }
    }
    
    .triangle-left,
    .triangle-top {
        position: absolute;
        z-index: -1;
        border-width: 40px;
        @include xsmall {
            border-width: 50px;
        }
        @include small {
            border-width: 80px;
        }
        @include medium {
            border-width: 100px;
        }
        @include large {
            border-width: 140px;
        }
        @include xlarge {
            border-width: 180px;
        }
    }
}


.news-content {
    width: 50%;
    margin: 0 auto;
    padding-top: 80px;
    li {
        border-bottom: 1px solid #cccccc;
    }
    .news-more-btn {
        @include padding(4px, 6px);
        padding-bottom: 8px;
        line-height: 16px;
        color: $white;
        background-color: $main;
        &:hover {
            color: $main;
            background-color: $white;
            outline: 1px solid $main;
        }
    }

    .more-btn {
        color: $main;
        border: 1px solid $main;
        overflow: hidden;
        @include padding(10px, 20px);
        &:hover {
            color: $white;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $main;
            z-index: -1;
        }
        &:hover::before {
            width: 100%;
            transition: width 0.5s;
        }
    }
}

.about-container {
    padding-bottom: 180%;
    background-size: cover;
    background-position: 20% center;
    background-repeat: no-repeat;
    @include xsmall {
        padding-bottom: 130%;
    }
    @include small {
        padding-bottom: 90%;
    }
    @include medium {
        padding-bottom: 80%;
    }
    @include large {
        padding-bottom: 50%;
    }
}

.about-content {
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include large {
        width: 50%;
        left: 20%;
        transform: translate(0%, -50%);
    }
    @include xlarge {
        width: 40%;
    }
}

.about-content {
    .title-eng {
        font-size: 50px;
    }
    .title {
        @include large {
            margin-left: 60px;
        }
    }
    .icons {
        li {
            width: 50%;
            @include xsmall {
                width: 25%;
            }
        }
        h4 {
            color: $main;
            margin-top: 6px;
        }
    }
    .know-more-btn {
        z-index: 1;
        color: $main;
        background-color: $white;
        border: 1px solid $main;
        overflow: hidden;
        @include padding(10px, 20px);
        &:hover {
            color: $white;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $main;
            z-index: -1;
        }
        &:hover::before {
            width: 100%;
            transition: width 0.5s;
        }
    }
    .video-btn {
        z-index: 1;
        color: $white;
        background-color: $main;
        border: 1px solid $main;
        overflow: hidden;
        @include padding(10px, 20px);
        &:hover {
            color: $main;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $white;
            z-index: -1;
        }
        &:hover::before {
            width: 100%;
            transition: width 0.5s;
        }
    }
}

.home-video-modal {
    .modal-content {
        background-color: transparent;
        border: none;
    }
    .modal-header {
        border-bottom: none;
        .close {
            color: #ffffff;
            &:focus {
                outline: none;
            }
        }
    }
    .modal-body {
        position: relative;
        padding-bottom: 54%;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
}

.service-container {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include padding(80px, 0);
    @include large {
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            width: 100%;
            top: 375px;
            left: 0;
            background-color: #cccccc;
            z-index: -1;
        }
    }
    .service-list {
        position: relative;
        width: 85%;
        margin: 0 auto;
        @include xsmall {
            &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 85%;
                top: 40px;
                left: 90px;
                background-color: #cccccc;
                z-index: -1;
                @include large {
                    display: none;
                }
            }
        }
        @include small {
            width: 70%;
        }
        @include medium {
            width: 60%;
        }
        @include large {
            width: 85%;
        }

        li {
            @include large {
                width: 20%;
            }
        }
        li div:first-child {
            margin-right: 16px;
            @include xsmall {
                margin-right: 0;
            }
        }
        li div:nth-child(2) {
            display: none;
            @include xsmall {
                display: block;
                margin: 0 24px;
            }
            @include large {
                margin: 0;
            }
        }
        li div:first-child img {
            width: 55px;
            @include large {
                width: auto;
                height: 55px;
            }
        }
    }
    .know-more-btn {
        z-index: 1;
        color: $main;
        background-color: $white;
        border: 1px solid $main;
        overflow: hidden;
        @include padding(10px, 20px);
        &:hover {
            color: $white;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $main;
            z-index: -1;
        }
        &:hover::before {
            width: 100%;
            transition: width 0.5s;
        }
    }
    .point-content {
        @include large {
            letter-spacing: 5px;
            writing-mode: vertical-rl;
            max-height: 250px;
        }
    }
    .house-img {
        position: absolute;
        bottom: 0;
        width: 150px;
        right: 20px;
        @include medium {
            width: 200px;
        }
        @include large {
            right: 5%;
        }
        @include xxlarge {
            width: 250px;
        }
    }
}
